{{ form_start(form, { 'action': path('API_comment_create' , { 'id' : comment.articleId }), 'method': 'POST', 'attr': {'class': 'blogger'} }) }}

    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_widget(form.content, {'id': 'comment-content-_default_'}) }}
    </div>
    {{ form_widget(form.parentId, {'id': 'comment-parent-id-_default_'}) }}

{{ form_end(form) }}
