{% extends 'AppBundle::layouts/base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}" />
{% endblock %}
{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top header">
      <div class="container">

          <div class="navbar-header">
              <a class="navbar-brand" href="{{ path('BlogBundle_list') }}">
                  <i class="glyphicon glyphicon-home"></i>
              </a>

              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <a href="{{ path('BlogBundle_new') }}" class="navbar-btn btn btn-info">Добавить</a>
              {% endif %}

          </div>

          <ul class="nav navbar-nav navbar-right">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li>
                      <a href="{{ path('BlogBundle_profile', {'username': app.user.username}) }}">
                          {{ app.user.username }}
                      </a>
                  </li>
                  <li>
                      <a href="{{ path('fos_user_security_logout') }}">
                          [{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}]
                      </a>
                  </li>
              {% else %}
                  <li>
                      <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                  </li>
              {% endif %}
          </ul>

      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}
