{% extends 'BlogBundle::layouts/base.html.twig' %}
{% block content %}
    <a href="{{ path('BlogBundle_new') }}">Добавить</a>
    <div class="articles">
        {% for article in articles %}
            <article class="article"
                data-module="widgets.Article"
                data-id="{{ article.id }}">

                <h3>{{ article.title }}</h3>
                <div>{{ article.user.username }}, 
                    {{ article.created|date('l, F j, Y') }}
                </div>
                <div class="article-content">
                    {{ article.content | raw }}
                </div>
                <div>

                    <div>
                        <a class="like-button" href="{{ path('API_article', {'id': article.id}) }}"
                            data-ajax
                            data-method="POST"
                            data-action="like">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                        </a>

                        <a class="like-button" href="{{ path('API_article', {'id': article.id}) }}"
                            data-ajax
                            data-method="POST"
                            data-action="dislike">
                            <i class="glyphicon glyphicon-thumbs-down"></i>
                        </a>
                    </div>

                    {#
                    {% set like = 'like' %}
                    {% set dislike = 'dislike' %}

                    {% for like in article.likes %}
                        {% if like.val > 0 %}
                            {% set like = 'unlike' %}
                        {% endif %}
                        {% if like.val < 0 %}
                            {% set dislike = 'unlike' %}
                        {% endif %}
                    {% endfor %}

                    <a href="{{ path('API_article', {'id': article.id}) }}"
                        data-ajax="action={{ like }}">
                        {% if like == 0 %}UN{% endif %}LIKE
                    </a>
                    |  {{ article.rating }} |
                    <a href="{{ path('API_article', {'id': article.id}) }}"
                        data-ajax ="action={{ dislike }}">
                        {% if dislike == 0 %}UN{% endif %}DISLIKE
                    </a>
                </div>
                #}

                <a href="{{ path('BlogBundle_show', { 'id': article.id }) }}">комментарии</a>
            </article>
        {% else %}
            <p>There are no blog entries</p>
        {% endfor %}
    </div>
    {% if paginator.pages > 1 %}
    <nav>
        <ul class="pagination">
            {% if paginator.page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
        {% for i in paginator.start..paginator.end %}
            <li class="page-item {% if i == paginator.page %}active{% endif %}">
                <a class="page-link" href="#">{{ i }}</a>
            </li>
        {% endfor %}
            {% if paginator.page < paginator.pages %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}
