{% extends 'BlogBundle::layouts/base.html.twig' %}
{% block content %}

    <h1>{{ article.title }}</h1>
    <article>
        <div class="article-content">{{ article.content|raw }}</div>
        <div class="article-title">
            <div>
                <a href="{{ path('API_article', {'id': article.id}) }}" data-ajax="" data-method="post"
                    data-action="{% if article.userLike > 0 %}unlike{% else %}like{% endif %}">
                    +1
                </a> |  {{ article.rating }} |
                <a href="{{ path('API_article', {'id': article.id}) }}" data-ajax="" data-method="post"
                   data-action="{% if article.userLike < 0 %}unlike{% else %}dislike{% endif %}">
                    -1
                </a>
            </div>
            <div>{{ article.user.username }}</div>
            <div>{{ article.created|date('l, F j, Y') }}</div>
        </div>
    </article>

    <div class="comments">
        <h3>Comments</h3>
        {% if comments|length > 0 %}
            {% include 'BlogBundle:pages:comments.html.twig' with {'comments': comments, 'key': 0} %}
        {% endif %}

        <h3>Add Comment</h3>
        <div class="form-wrap">
            {{ render(controller('BlogBundle:Comment:new',{ 'id': article.id })) }}
        </div>
    </div>
{% endblock %}