{% extends 'BlogBundle::layouts/base.html.twig' %}
{% block title %}: {{ article.title }}{% endblock %}
{% block content %}

    <h1>{{ article.title }}</h1>
    <article class="article"
             data-module="widgets.Article"
             data-id="{{ article.id }}">
        <div class="article-content">
            {% for content in article.content %}
                {% if content.type == 'img' %}
                    <div class="">
                        <img src="{{ content.val }}">
                    </div>
                {% else %}
                    {{ content.val }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="article-description">
            <div class="article-rating">
                {% include 'BlogBundle:blocks:rating.html.twig' with {'route': 'API_article', 'id': article.id, 'userLike': article.userLike, 'rating': article.rating} %}
            </div>
            <div class="article-create">{{ article.created|date('l, F j, Y') }}</div>
            <div class="article-author">
                <a href="{{ path('BlogBundle_profile', {'username': article.user.username}) }}">
                    {{ article.user.username }}
                </a>
            </div>
        </div>
    </article>

    <div class="comments" id="comments">
        <h3>Comments</h3>
        {% if comments|length > 0 %}
            {% include 'BlogBundle:blocks:comments.html.twig' with {'comments': comments, 'key': 0} %}
        {% else %}
            &mdash;
        {% endif %}

        <h3>Add Comment</h3>
        <div class="form-wrap">
            {{ render(controller('BlogBundle:Comment:new',{ 'id': article.id })) }}
        </div>
    </div>
{% endblock %}


{% block js %}
    {{ parent() }}
<script>
$(document).ready(function () {
    var $commentForm = $('.form-wrap').html();

    $('.add-comment-btn').click(function (e) {
        if (!$(this).hasClass('open')) {
            e.preventDefault();
            var parentId = $(this).data('parent-id');
            $commentForm = $commentForm.replace(/_default_/g, parentId);
            $(this).siblings('.comment-form').append($commentForm)
                    .find('#comment-parent-id-'+parentId).val(parentId);
            $(this).addClass('open');
        } else {
            $(this).siblings('.comment-form').toggle();
        }

        var newName = $(this).data('second-name');
        $(this).data('second-name', $(this).html());
        $(this).html(newName);
    });
});
</script>
{% endblock %}