{% extends 'BlogBundle::layouts/base.html.twig' %}
{% block content %}

    <h1>{{ article.title }}</h1>
    <article>
        {{ article.content|raw }}
    </article>
    <a href="{{ path('BlogBundle_like', {'id': article.id}) }}">LIKE</a> |
    <a href="{{ path('BlogBundle_dislike', {'id': article.id}) }}" >DISLIKE</a>

    {% if comments|length > 0 %}
        <h3>Comments</h3>
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-author">
                    {{ comment.userId }} |
                    {{ comment.created|date('l, F j, Y') }}
                </div>
                <div class="comment-content">
                    {{ comment.content }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="comments">

        <h3>Add Comment</h3>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}