<div class="comment-title" id="comment-{{ comment.id }}">
    <div class="comment-rating">
        {% include 'BlogBundle:blocks:rating.html.twig' with {'route': 'API_comment', 'id': comment.id, 'userLike': comment.userLike, 'rating': comment.rating} %}
    </div>
    <div class="comment-author">
        {{ comment.user.username }}
    </div>
    <div class="comment-date">
        {{ comment.created|date('l, F j, Y') }}
    </div>
</div>
<div class="comment-content">
    {{ comment.content }}
</div>
<div class="comment-add">
    <button type="button" class="btn btn-default btn-xs add-comment-btn" data-parent-id="{{ comment.id }}">Добавить</button>
    <div class="comment-form"></div>
</div>